<wb-manager-toolbar></wb-manager-toolbar>
<div class="manager">
  <form [formGroup]="postForm" class="new-post" (ngSubmit)="onSubmit()" autocomplete="off">
    <table class="full-width">
      <tr>
        <td>
          <md-input-container class="full-width">
            <input mdInput placeholder="Tytuł" formControlName="title" required>
            <md-hint *ngIf="formErrors.title" align="end">{{ formErrors.title }}</md-hint>
          </md-input-container>
        </td>
        <td colspan="2">
          <md-input-container class="full-width">
            <input type="url" mdInput placeholder="Link do obrazka tytułowego" formControlName="coverUrl" required>
            <md-hint *ngIf="formErrors.coverUrl" align="end">{{ formErrors.coverUrl }}</md-hint>
          </md-input-container>
        </td>
      </tr>
      <tr>
        <td>
          <md-input-container class="full-width">
            <input mdInput placeholder="Autor" formControlName="author" required>
            <md-hint *ngIf="formErrors.author" align="end">{{ formErrors.author }}</md-hint>
          </md-input-container>
        </td>
        <td colspan="2">
          <md-input-container class="full-width">
            <input mdInput placeholder="Tagi" formControlName="tags" required>
            <md-hint *ngIf="formErrors.tags" align="end">{{ formErrors.tags }}</md-hint>
          </md-input-container>
        </td>
      </tr>
      <tr>
        <td>
          <md-input-container class="full-width">
            <input mdInput placeholder="Meta Title" formControlName="metaTitle" required>
            <md-hint *ngIf="formErrors.metaTitle" align="end">{{ formErrors.metaTitle }}</md-hint>
          </md-input-container>
        </td>
        <td>
          <md-input-container class="full-width">
            <input mdInput placeholder="Meta Keywords" formControlName="metaKeywords" required>
            <md-hint *ngIf="formErrors.metaKeywords" align="end">{{ formErrors.metaKeywords }}</md-hint>
          </md-input-container>
        </td>
        <td>
          <md-input-container class="full-width">
            <input mdInput placeholder="Meta Description" formControlName="metaDescription" required>
            <md-hint *ngIf="formErrors.metaDescription" align="end">{{ formErrors.metaDescription }}</md-hint>
          </md-input-container>
        </td>
      </tr>
    </table>

    <h3>Post</h3>

    <wb-component-list></wb-component-list>

    <div *ngIf="loading; else elseBlock">
      <md-progress-spinner mode="indeterminate" class="progress"></md-progress-spinner>
    </div>
    <ng-template #elseBlock>
      <button type="submit" md-raised-button [disabled]="!postForm.valid || !componentsValid()"
              color="primary">Dodaj Post
      </button>
    </ng-template>
  </form>
</div>
