<wb-manager-toolbar></wb-manager-toolbar>
<div class="manager">
  <form class="new-post">
    <table class="full-width">
      <tr>
        <td>
          <md-input-container class="full-width">
            <input mdInput placeholder="Tytuł">
          </md-input-container>
        </td>
        <td colspan="2">
          <md-input-container class="full-width">
            <input mdInput placeholder="Link do obrazka tytułowego">
          </md-input-container>
        </td>
      </tr>
      <tr>
        <td>
          <md-input-container class="full-width">
            <input mdInput placeholder="Autor">
          </md-input-container>
        </td>
        <td  colspan="2">
          <md-input-container class="full-width">
            <input mdInput placeholder="Tagi">
          </md-input-container>
        </td>
      </tr>
      <tr>
        <td>
          <md-input-container class="full-width">
            <input mdInput placeholder="Meta Title">
          </md-input-container>
        </td>
        <td>
          <md-input-container class="full-width">
            <input mdInput placeholder="Meta Keywords">
          </md-input-container>
        </td>
        <td>
          <md-input-container class="full-width">
            <input mdInput placeholder="Meta Description">
          </md-input-container>
        </td>
      </tr>
    </table>

    <h3>Post</h3>

    <wb-component-list></wb-component-list>
  </form>
</div>
