<wb-manager-toolbar></wb-manager-toolbar>
<div class="manager">
  <form class="new-post">
    <table class="full-width">
      <tr>
        <td>
          <md-input-container class="full-width">
            <input mdInput placeholder="Tytuł" [(ngModel)]="post.title" name="title">
          </md-input-container>
        </td>
        <td colspan="2">
          <md-input-container class="full-width">
            <input type="url" mdInput placeholder="Link do obrazka tytułowego" [(ngModel)]="post.coverUrl" name="coverUrl">
          </md-input-container>
        </td>
      </tr>
      <tr>
        <td>
          <md-input-container class="full-width">
            <input mdInput placeholder="Autor" [(ngModel)]="post.author" name="author">
          </md-input-container>
        </td>
        <td  colspan="2">
          <md-input-container class="full-width">
            <input mdInput placeholder="Tagi" [(ngModel)]="tags" name="tags">
          </md-input-container>
        </td>
      </tr>
      <tr>
        <td>
          <md-input-container class="full-width">
            <input mdInput placeholder="Meta Title" [(ngModel)]="post.metaTitle" name="metatitle">
          </md-input-container>
        </td>
        <td>
          <md-input-container class="full-width">
            <input mdInput placeholder="Meta Keywords" [(ngModel)]="post.metaKeywords" name="metakewords">
          </md-input-container>
        </td>
        <td>
          <md-input-container class="full-width">
            <input mdInput placeholder="Meta Description" [(ngModel)]="post.metaDescription" name="metadescription">
          </md-input-container>
        </td>
      </tr>
    </table>

    <h3>Post</h3>

    <wb-component-list></wb-component-list>

    <button md-button (click)="savePost()">Dodaj</button>
  </form>
</div>
