.pinned {
  background-size: cover !important;
  width: 100%;
  height: 65%;
  min-height: 400px;
  position: relative;
}

.pinned .post-meta {
  position: absolute;
  bottom: 70px;
  left: 70px;
  width: 90%;
}

.pinned .post-meta .post-info {
  color: #FFF;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .9);
}

.pinned .post-date {
  font-style: italic;
}

.pinned .post-title {
  font-size: 30px;
  margin-bottom: 15px;
  font-weight: 500;
}
