<md-card class="login-card">
  <md-card-header>
    <md-card-title>Login form</md-card-title>
  </md-card-header>
  <md-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">
      <md-input-container>
        <input mdInput placeholder="Adres Email" formControlName="email">
      </md-input-container>
      <br/>
      <md-input-container>
        <input type="password" mdInput placeholder="Hasło" formControlName="password">
      </md-input-container>
      <br/>
      <div class="progress-wrapper" [@spinnerVisibilityChanged]="state">
        <md-progress-spinner mode="indeterminate" class="progress"></md-progress-spinner>
      </div>
      <div >
        <button type="submit" md-raised-button [disabled]="!loginForm.valid || loading"
                color="primary">Login
        </button>
      </div>
    </form>
  </md-card-content>
</md-card>
