<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title>Login form</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">
      <mat-form-field>
        <input matInput placeholder="Adres Email" formControlName="email">
      </mat-form-field>
      <br/>
      <mat-form-field>
        <input type="password" matInput placeholder="Hasło" formControlName="password">
      </mat-form-field>
      <br/>
      <div class="progress-wrapper" [@spinnerVisibilityChanged]="state">
        <mat-progress-spinner mode="indeterminate" class="progress"></mat-progress-spinner>
      </div>
      <div>
        <button type="submit" mat-raised-button [disabled]="!loginForm.valid || loading"
                color="primary">Login
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
