<md-card class="post-author">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>{{profile.name}}</md-card-title>
  </md-card-header>
  <md-card-title></md-card-title>
  <md-card-content>
    <img [src]="profile.imageUrl" class="avatar">
  </md-card-content>
</md-card>


<md-card-header class="header">
  <md-card-avatar>
    <img class="md-user-avatar" style="width: 60px; height: 60px; opacity: 0.85;" ng-src="{{profile.avatar}}"/>
  </md-card-avatar>
  <md-card-header-text>
    <span class="md-title name">{{profile.title}}</span>
    <span class="md-subhead subname">{{profile.author}}</span>
  </md-card-header-text>
</md-card-header>
