<div class="side">
  <div class="side-header">
    <div class="title">Pieczki</div>
    <div class="sub-title">Mydło i powidło</div>
  </div>
  <div class="side-contents">
    <ul>
      <li>
        <div class="close-menu">
          <button md-fab (click)="close()">
            <md-icon>close</md-icon>
          </button>
        </div>
      </li>
    </ul>

    <div class="sidebar-wrap">
      <div>O Nas</div>
      <!--&lt;!&ndash;<div>&ndash;&gt;-->
      <!--&lt;!&ndash;<p>Zwyczajna rodzinka. Ona żądna przygód, on leń kanapowy. Z ich połączenia powstał Niunio&ndash;&gt;-->
      <!--&lt;!&ndash;;)</p>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
    </div>
    <!--<div class="footer">-->
    <!--<p>©Copyright 2016 Bartłomiej Pieczka</p>-->
    <!--</div>-->
  </div>
</div>
