.side {
  height: 100%;
  overflow: hidden;
}

.side-header {
  background: url('/assets/img/nav_background.jpg') no-repeat;
  background-size: cover;
  min-height: 260px;
  color: rgba(255, 255, 255, 0.87);
  text-shadow: 0 1px 1px rgba(0, 0, 0, .9);
  text-align: center;
}

.side-header .title {
  padding-top: 100px;
  font-size: 40px;
  font-weight: 500;
}

.side-header .sub-title {
  margin-top: 5px;
  font-size: 15px;
  font-weight: 800;
  text-transform: uppercase;
}

.side-contents {
  background-color: #3e4552;
  height: 100%;
}

.side ul {
  position: relative;
  list-style: none;
  margin: 0;
}

.side .close-menu {
  position: absolute;
  right: 30px;
  top: -25px;
  line-height: 45px;
  text-align: center;
  transition: all 0.2s ease-out 0s;
}

.side .close-menu:hover {
  cursor: pointer;
}

.side .close-menu:hover {
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
  box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.18), 0 0 15px 0 rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease-out 0s;
}
