<mat-grid-list cols="2" rowHeight="165px" class="post-nav">
  <mat-grid-tile>
    <a routerLink="/post/{{prevPostTitle}}"
       style="position: relative; overflow: hidden; text-align: left;" *ngIf="prevPostTitle">
      <span class="nav-header left-header">Poprzedni</span>
      <mat-icon class="icon left-icon">undo</mat-icon>
      <span class="nav-title">{{ prevPostTitle }}</span>
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a routerLink="/post/{{nextPostTitle}}" class="right"
       style="position: relative; overflow: hidden;" *ngIf="nextPostTitle">
      <span class="nav-header right-header">Następny</span>
      <span class="nav-title">{{ nextPostTitle }}</span>
      <mat-icon class="icon right-icon">redo</mat-icon>
    </a>
  </mat-grid-tile>
</mat-grid-list>
