<mat-list>
  <mat-list-item *ngFor="let comp of components; let i = index">
    <div md-line>
      <wb-component-entry [component]="comp" [seq]="i + 1"></wb-component-entry>
    </div>
  </mat-list-item>
</mat-list>
<form class="new-component">
  <mat-select placeholder="Komponent" [(ngModel)]="selectedComponent" name="selectedComponent">
    <mat-option *ngFor="let comp of availableComponents" [value]="comp.name">{{ comp.name }}</mat-option>
  </mat-select>
  <button mat-button (click)="addComponent()">Dodaj</button>
</form>
