.post-container {
  color: rgba(0, 0, 0, 0.9);
  height: 560px;
  margin-bottom: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

.post-container .main-image {
  background-size: cover !important;
  background-position: center center;
  display: block;
  height: 100%;
}

.post-container .home-link {
  position: absolute;
  right: 30px;
  top: 30px;
  color: white;
}

.post-info {
  color: #FFF;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .9);
  position: absolute;
  bottom: 70px;
  left: 70px;
  width: 90%;
  text-align: left;
}

.post-info .post-date {
  font-style: italic;
}

.post-info .post-title {
  font-size: 30px;
  margin-bottom: 15px;
  font-weight: 500;
}
