<div class="editor">
  <p class="header">Zostaw wiadomość. Twój email nie będzie opublikowany.</p>
  <form [formGroup]="commentForm" *ngIf="active" (ngSubmit)="onSubmit()" autocomplete="off">
    <table class="full-width">
      <tbody>
      <tr>
        <td>
          <mat-form-field class="comment-input">
            <textarea matInput matTextareaAutosize
                      formControlName="content" placeholder="Komentarz" required></textarea>
            <mat-hint *ngIf="formErrors.content" align="end">{{ formErrors.content }}</mat-hint>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="full-width">
            <input matInput formControlName="authorName" placeholder="Pseudonim" required>
            <mat-hint *ngIf="formErrors.authorName" align="end">{{ formErrors.authorName }}</mat-hint>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="full-width">
            <input type="email" matInput formControlName="email" placeholder="Adres Email"
                   required email>
            <mat-hint *ngIf="formErrors.email" align="end">{{ formErrors.email }}</mat-hint>
          </mat-form-field>
        </td>
      </tr>
      </tbody>
    </table>
    <div *ngIf="loading; else elseBlock">
      <mat-progress-spinner mode="indeterminate" class="progress"></mat-progress-spinner>
    </div>
    <ng-template #elseBlock>
      <button type="submit" mat-raised-button [disabled]="!commentForm.valid"
              color="primary">Dodaj Komentarz
      </button>
    </ng-template>
  </form>

</div>
