<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Posty
      </mat-panel-title>
      <mat-panel-description>
        Jeszcze nie opublikowane
      </mat-panel-description>
    </mat-expansion-panel-header>

    <ng-template>
      <wb-manager-published-post *ngFor="let post of notPublishedPosts" [post]="post">
      </wb-manager-published-post>
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Posty
      </mat-panel-title>
      <mat-panel-description>
        Opublikowane
      </mat-panel-description>
    </mat-expansion-panel-header>

    <ng-template>
      <wb-manager-published-post *ngFor="let post of posts" [post]="post">
      </wb-manager-published-post>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>
