<blog-loader></blog-loader>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" (opened)="op()" (closed)="cl()">
    <wb-sidenav (close)="sidenav.toggle()"></wb-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="side-buttons">
      <div class="animated-icon" (click)="sidenav.toggle()">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </div>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
