<div class="comments">
  <div>
    <span class="title">Komentarze</span>
    <button *ngIf="!loaded" md-button (click)="loadComments()" class="load-comments">Pokaż komentarze</button>
  </div>
  <md-card class="comment-list">
    <md-card-content>
      <div *ngIf="loading; else elseBlock">
        <md-progress-spinner mode="indeterminate" class="progress"></md-progress-spinner>
      </div>
      <ng-template #elseBlock>
        <md-list *ngFor="let c of staggeringComments; let i = index" (@flyInOut.done)="doNext()" [@flyInOut]="'in'">
          <wb-comment [comment]="c"></wb-comment>
        </md-list>
      </ng-template>
      <wb-comment-editor [postId]="postId" (onCommentAdded)="commentAdded($event)"></wb-comment-editor>
    </md-card-content>
  </md-card>
</div>
