.tags {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin-bottom: 20px;
  opacity: 0.8;
}

.tags .header {
  background: url('/assets/img/nav_background.jpg') no-repeat;
  background-size: cover;
  height: 65px;
}

.tags .cardgradient {
  background: rgba(33, 150, 243, 0.3);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}

.tags md-card-content {
  padding: 20px;
}

.tags md-card-title {
  color: #FFF;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .9);
  font-size: 20px;
  padding: 20px;
  font-weight: 500;
}
